@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.App {
  height: 100vh;
  padding-top: 10px;
}

body {
  margin: 6px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 20px;
}
